<template id="add-product-form-template">
    <form id="addProductForm">
      <h2>Legg til produkt</h2>
      <input type="text" name="produktnavn" placeholder="Produktnavn" required>
      <input type="text" name="sku" placeholder="SKU" required>
      <input type="number" name="pris" placeholder="Pris" required>
      <input type="number" name="lager" placeholder="Lager" required>
      <textarea name="beskrivelse" placeholder="Beskrivelse"></textarea>
      <button type="submit">Legg til produkt</button>
    </form>
  </template>
  