<template id="product-card-edit-template">
    <div class="product-card edit-mode">
        <label>
            Produktnavn:
            <input type="text" name="produktnavn" value="">
        </label>
        <label>
            SKU:
            <input type="text" name="sku" value="">
        </label>
        <label>
            Lagerantall:
            <input type="number" name="lager" value="">
        </label>
        <label>
            Pris:
            <input type="number" name="pris" value="">
        </label>
        <label>
            Beskrivelse:
            <textarea name="beskrivelse"></textarea>
        </label>
        <div class="extra-attributes"></div>
        <button class="save-button">Lagre endringer</button>
        <button class="cancel-button">Avbryt</button>
    </div>
</template>
